@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DepartmentAllView"; }

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb float-sm-right">
                    <li style="margin-left: 00px;">
                        <a href="@Url.Action("DepartmentView","Department")"><i class="nav-icon fas fa-minus-circle"></i> </a>
                    </li>
                    <li style="margin-left: px;"><a href="@Url.Action("DepartmentView","Department")">Back to Details</a></li>
                </ol>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Details Of Departments</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="preview col-md-5">
                                <div class="tab-pane active" id="pic-1">
                                    <img src="@Url.Content("~/img/COM.jpg")" class="img-rounded"
                                         alt="Cinque Terre" width="400" height="230">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h6><b>BRANCH CODE:</b></h6><span>3</span>
                                <h6><b>NAME OF DEPARTMENT:</b></h6><span>Computer Science And Engineering</span>
                            </div>
                            <div class="col-md-12 mt-4">

                                <h6><b>DETAIL DESCRIPTION:</b></h6> <span>
                                    Computer Science & Engineering Department was established
                                    in year 2004 intake of 60 and from 2009 intake is increased to 120. It runs under graduate course
                                    in Computer Science & Engineering. Primary objective of this programme is to develop Computer
                                    Engineers with knowledge of software and hardware, responsible for wide range of computer system
                                    design and development, built them as dedicated and competent professionals for challenging world
                                    of varying requirements of automation.

                                    Computer Engineering Laboratories are outfitted with high performance servers and computers with
                                    latest configurations. It includes C programming lab, Computer network lab, Database lab, and
                                    Advanced computing lab and Microprocessor lab. Entire campus is connected with high speed fiber
                                    network having large capacity Data Server and 100 Mbps Internet facility of 24×7 hrs.

                                    Faculty members are dedicated to import quality education in the field of Computer Engineering and
                                    active in research & development work to cope with current market trends. Students are imparted
                                    knowledge about technology through workshop and expert lectures in order to interact with
                                    academia, industries & professionals.

                                    The Computer Science & Engineering curriculum provides students with a sufficient background in
                                    mathematics, computer science and engineering sciences to analyze and design complex software and
                                    hardware systems.
                                </span>

                            </div>
                            <div class="input-group col-md-12 mt-4">
                                <div class="col-sm-6">
                                    <a href="@Url.Action("DepartmentAdd","Department")" type="submit"
                                       class="btn btn-primary float-right col-md-2">Edit</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
        </div>
    </section>
</div>