@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "DepartmentAdd"; }

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("DepartmentView","Department")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add new departments</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="row">
                               


                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="department">ENTER NAME OF DEPARTMENT</label>
                                        <input type="text" class="form-control" id="department"
                                               placeholder="Enter name of Department.. " />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                   <label for="description">ENTER DESCRIPTION OF DEPARTMENT</label>
                                   <textarea type="text" name="description" class="form-control" id="description" rows="4" placeholder="Write content"></textarea>
                               </div>

                               <div class="col-md-6">
                                   <label for="message">ENTER MESSAGE OF DEPARTMENT</label>
                                   <textarea type="text" name="message" class="form-control" id="message" rows="4" placeholder="Write content"></textarea>
                               </div>

                               <div class="col-md-6">
                                   <label for="head">ENTER HEAD</label>
                                   <input type="number" class="form-control" id="head" />
                               </div>

                               <div class="col-md-6">
                                   <label for="slogan">ENTER SLOGAN OF DEPARTMENT</label>
                                   <textarea type="text" name="slogan" class="form-control" id="description" rows="4" placeholder="Write content"></textarea>
                               </div>

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label for="exampleInputFile">CHOOSE IMAGE FOR DEPARTMENT</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                       id="exampleInputFile">
                                                <label class="custom-file-label" for="exampleInputFile">
                                                    Choose
                                                    file
                                                </label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="submit" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6">
                                    <button type="clear" class="btn btn-default col-md-2">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>