@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SubjectAdd"; }

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("SubjectView","SubjectsLists")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add New Subject</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="subjectadd" name="subjectadd" role="form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER SUBJECT CODE</label>
                                        <input type="email" class="form-control" name="SUBJECTCODE" id="exampleInputEmail1"
                                               placeholder="Enter code.. ">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>SELECT DEPARTMENT</label>
                                        <select name="department" class="form-control">
                                            <option> ELECTRONIC AND COMMUNICATION</option>
                                            <option> COMPUTER</option>
                                            <option> ELECTRICAL</option>
                                            <option> CIVIL</option>
                                            <option> MECHANICAL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>SELECT SEMESTER</label>
                                        <select name="sem" class="form-control">
                                            <option> 1</option>
                                            <option> 2</option>
                                            <option> 3</option>
                                            <option> 4</option>
                                            <option> 5</option>
                                            <option> 6</option>
                                            <option> 7</option>
                                            <option> 8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER NAME OF THE SUBJECT</label>
                                        <input type="email" name="subject" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter name.. ">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER ACRONYM FOR THE SUBJECT</label>
                                        <input name="ACRONYM" type="email" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter name.. ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6">
                                    <button  type="submit"
                                            class="btn btn-primary float-right col-md-2">
                                        Submit
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="reset"
                                            class="btn btn-default col-md-2">
                                        Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

                                                               
@section script{

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#subjectadd').validate({
          rules: {
            "SUBJECTCODE": {
                 required: true                
             },
             "department": {
                 required: true
             },
             "sem":{
                 required: true,
                 digit: true
             },
             "head": {
                    required: true
                },
               
                "subject": {
                    required: true
                },
                "ACRONYM":{
                    required: true
                }

          },
          messages: {
          "SUBJECTCODE": {
                 required: "this field is required"
             },
             "department": {
                 required: "this field is required"
             },
             "sem":{
                  required: "this field is required"
             },
             "head":{
                  required: "this field is required"
             },
                "subject": {
                   required: "this field is required"
                },
                "ACRONYM":{
                     required: "this field is required"
                }

          }
         

        });

        $('#subjectadd').submit(function(e) {

        //prevent Default functionality
        e.preventDefault();
        //alert( "firee!" );

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        if($('#subjectadd').valid()){
        $.ajax({
                url: '@Url.Action("DepartmentAdd","Department")',
                type: 'post',
                dataType: 'application/json',
                data: $("#myform").serialize(),
                success: function(data) {

                }
        });
        }

    });


    });

</script>

}