@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SubjectAdd"; }

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("SubjectView","SubjectsLists")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add New Subject</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER SUBJECT CODE</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter code.. ">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>SELECT DEPARTMENT</label>
                                        <select class="form-control">
                                            <option> ELECTRONIC AND COMMUNICATION</option>
                                            <option> COMPUTER</option>
                                            <option> ELECTRICAL</option>
                                            <option> CIVIL</option>
                                            <option> MECHANICAL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <!-- select -->
                                    <div class="form-group">
                                        <label>SELECT SEMESTER</label>
                                        <select class="form-control">
                                            <option> 1</option>
                                            <option> 2</option>
                                            <option> 3</option>
                                            <option> 4</option>
                                            <option> 5</option>
                                            <option> 6</option>
                                            <option> 7</option>
                                            <option> 8</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER NAME OF THE SUBJECT</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter name.. ">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">ENTER ACRONYM FOR THE SUBJECT</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter name.. ">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6">
                                    <button type="submit"
                                            class="btn btn-primary float-right col-md-2">
                                        Submit
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="clear"
                                            class="btn btn-default col-md-2">
                                        Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>