@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AntiRaggingView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View Anti-Ragging cell Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("AntiRaggingAdd","AntiRaggingCell")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Click to Edit Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h3>Anti-Ragging Cell Details</h3>
                            </div>
                            <div class="card-body">
                                <div>
                                    <p>
                                        According to UGC regulations 2009 on curbing the menace of ragging in
                                        higher educational institutions, we at GEC Patan has been running active
                                        antiragging committee/squad to prevent any issue regarding ragging to be
                                        happen in institute premises. We are taking undertaking forms from
                                        parents as well as from students of each semester and this we are doing
                                        every year to prevent any incident of ragging in future. We are
                                        supplying all information regarding antiragging committee functioning at
                                        institute level among all students; especially new comers. No such
                                        ragging incident has been recorded in this institute from the beginning
                                        to till date.

                                    </p>
                                </div>

                            </div>

                            <strong>
                                <div class="form-group">
                                    <text>Dr. Harshad S Bhutadia</text></br>
                                    <text>Anti ragging committee coordinator</text></br>
                                    <text>Government Engineering College, Patan</text></br>
                                </div>
                            </strong>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--ur contents here-->
</div>
    