@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AchievementsAdd"; 
}

<div class="content-wrapper">


    <!-- Main content -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("AchievementsView","Achievements")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-12">
                            <!--ur contents here-->
                            <!-- jquery validation -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add Achievements </h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form" id="quickForm">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <div class="input-group">

                                                <div class="col-4">
                                                    <label for="Title"> Enter Title</label>
                                                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
                                                </div>

                                                

                                                <div class="col-4">
                                                    <label for="Title"> Enter tag</label>
                                                    <input type="text" class="form-control" id="tag" name="tag" placeholder="Enter tag">
                                                </div>

                                                <div class="col-4">
                                                    <label for="Title"> Enter Achievement date</label>
                                                    <input type="datetime" class="form-control" id="date" name="date" placeholder="Enter Achievement Date">
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="description">ENTER DESCRIPTION</label>
                                                    <textarea type="text" name="description" class="form-control" id="description" name="description" rows="4" placeholder="Write content"></textarea>
                                                </div>
                                                
                                                <div class="col-4">
                                                    <label for="exampleInputFile">Enter Image File </label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" name="InputFile" id="InputFile">
                                                            <label class="custom-file-label" for="exampleInputFile">
                                                                Choose
                                                                file
                                                            </label>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="">Upload</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                    </div>

                                </form>

                                <div class="card-footer">
                                    <div class="input-group col-12">
                                        <div class="col-sm-6"><button type="button" id="btnSubmit" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                        <div class="col-sm-6"><button type="button" class="btn btn-default col-md-2">Clear</button></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
    </section>
    <!-- /.content -->
</div>

@section script{

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#quickForm').validate({
          rules: {
                "title": {
                 required: true                
                },
                "description": {
                    required: true
                },
                "tag": {
                    required: true
                },
                "date": {
                    required: true
                },
                "InputFile":{
                    required: true
                }
          },
          messages: {
            "title": {
                 required: "this field is required"
             },
             "description": {
                 required: "this field is required"
             },
             "tag": {
                 required: "this field is required"
             },
                "date": {
                    required: "this field is required"
                },
                "InputFile":{
                    required: "this field is required"
                }
          }
         

        });

    $('#btnSubmit').click(function(e) {

        e.preventDefault();
        
        if($('#quickForm').valid()){
        $.ajax({
                url: '@Url.Action("NewsAdd","News")',
                type: 'post',
                dataType: 'application/json',
                data: $("#myform").serialize(),
                success: function(data) {

                }
        });
        }

    });


    });
    

</script>

}