@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AttachmentsAdd"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Add Attachments</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                            <a href="@Url.Action("AttachmentsView","Attachments")">
                    <ol class="breadcrumb float-sm-right">
                        <li>
                                <i class="nav-icon fas fa-plus-circle">
                                    Back to Attachments Details
                                </i>
                            </a>
                        </li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-8">
                    <!--ur contents here-->
                    <!-- form start -->
                    <div class="card card-primary">
                        <form role="form" id="Attachments">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="fileName">Name Of File</label>
                                    <input type="text" class="form-control" id="fileName" placeholder="Enter file name">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Title</label>
                                    <input type="text" class="form-control" id="titel" placeholder="Enter title name">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Type Of File</label>
                                    <input type="text" class="form-control" id="type" placeholder="Enter type">
                                </div>

                                <div class="col-md-6">
                                   <label for="description">ENTER DESCRIPTION</label>
                                   <textarea type="text" name="description" class="form-control" id="description" rows="4" placeholder="Write content"></textarea>
                               </div>

                               <div class="form-group">
                                    <label for="fileName">Page id</label>
                                    <input type="number" class="form-control" id="pageid" placeholder="Enter page id">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputFile">File Upload</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="InputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="">Upload</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <div class="input-group col-12">
                                    <div class="col-sm-6"><button type="submit" class="btn btn-primary float-right">Submit</button></div>
                                    <div class="col-sm-6"><button type="clear" class="btn btn-default">Clear</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section script{

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#Attachments').validate({
          rules: {
            "fileName": {
                 required: true                
             },
             "titel": {
                 required: true
             },
             "description":{
                 required: true;
                 number: true;
             },
                "pageid": {
                    required: true
                },
                "InputFile"{
                    required: true
                }

          },
          messages: {
            "fileName": {
                 required: "this field is required"             
             },
             "titel": {
                 required: "this field is required"
             },
             "description":{
                  required: "this field is required"
             },
                "pageid": {
                   required: "this field is required"
                },
                "InputFile"{
                     required: "this field is required"
                }

          }
         

        });

        $('#Attachments').submit(function(e) {

        //prevent Default functionality
        e.preventDefault();
        alert( "firee!" );

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        if($('#Attachments').valid()){
        $.ajax({
                url: '@Url.Action("AttachmentsAdd","Attachments")',
                type: 'post',
                dataType: 'application/json',
                data: $("#myform").serialize(),
                success: function(data) {

                }
        });
        }

    });


    });

</script>

}