.login-page {
    background-image: url(../img/Login/login_bg.jpg);
    background-position: center;
    background-size: cover;
}

.login-box {
    width: 420px;
    padding: 0px 30px 0 30px;
    background: #dad8d873;
    border: 1px solid #dad8d8;
}

/*td,
th {
    text-align: center;
}
*/

.loader {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #222222d9 /*#222*/;
    z-index: 9999;
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.spinner {
    /*border: 16px solid #f3f3f3; /* Light grey */
    /*border-top: 16px solid #3498db; /* Blue */
    border: 16px solid #484848;
    border-top: 16px solid #f5ed3f;
    border-bottom: 16px solid #f5ed3f;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loadertext {
    color: white;
    position: absolute;
    top: 35px;
    /* bottom: 0; */
    left: 35px;
    /* right: 0; */
    /* margin: auto; */
    width: 50px;
    /* display: block; */
    text-align: center;
    height: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}