@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "WomenCellView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View Women cell Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("WomenCellAdd","WomenCell")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Click to Edit Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h3>Women Cell Details</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <span>
                                        The Prime Role of Women Development Cell (WDC) is to provide and
                                        maintain
                                        a dignified and safe working environment for women employees (including
                                        teaching, non-teaching and contractual workers) and students, where they
                                        can
                                        work, study and explore their potential to the fullest. It includes
                                        women
                                        Harassment complaint committee and women empowerment program
                                        co-ordination
                                        committee.
                                    </span>
                                </div>


                                <div class="form-group">
                                    <div class="sub-obj">
                                        <h4>Sub-Objectives</h4>
                                        <li>
                                            To create awareness of women’s rights and their roles in the
                                            society.
                                        </li>
                                        <li>
                                            To create social awareness about the problems of women and in
                                            particular regarding gender discrimination.
                                        </li>
                                        <li>
                                            To provide a forum for women on the campus to share information and
                                            resources and exchange of ideas.
                                        </li>
                                        <li>
                                            To give information about safety and security measures for female
                                            employees and girl students by conducting seminar on safety.</ul>
                                        </li>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="committe">
                                        <h4>Women's Development Committee (2018-19)</h4>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <div class="col-1.5">
                                                            <h6><strong>Convener:</strong></h6>
                                                        </div>
                                                        <div class="col-2">
                                                            <text>Prof. Sita Agarwal</text>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <div class="col-1.5">
                                                        <h6><strong>Supporting Members : </strong></h6>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <text> Prof. Avani Vithalani</text></br>
                                                                <text> Prof. Swapna Pawar</text></br>
                                                                <text> Prof. Roshni Chaudhari</text></br>
                                                                <text> Smt. Reena Prajapati</text></br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <!--ur contents here-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>