<footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="http://www.gecpt.cteguj.in/">GEC Patan</a>.</strong> All rights
    reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
