<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../dashboard/dashboard.html" class="brand-link">
        <img src="@Url.Content("~/img/gecplogo.jpg")" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">GEC PATAN</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <li class="nav-item">
                    <a href="../dashboard/dashboard.html" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../about college/about_view.html" class="nav-link">
                        <i class="nav-icon fas fa-university"></i>
                        <p>
                            About College
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../campus/campus_view.html" class="nav-link">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>
                            Campus
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../faculty/faculty_view.html" class="nav-link">
                        <i class="nav-icon fa fa-users"></i>
                        <p>
                            Faculty Details
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../department/dept_view.html" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Department
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../subject/subject_view.html" class="nav-link">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>
                            Subjects Lists
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../labAndWorkshop/labAndWorkshop_view.html" class="nav-link">
                        <i class="nav-icon fa fa-cogs"></i>
                        <p>
                            Lab and workshops
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../attachments/attachments_view.html" class="nav-link">
                        <i class="nav-icon fa fa-folder-open"></i>
                        <p>
                            Attachments
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../company/company_view.html" class="nav-link">
                        <i class="nav-icon fas fa-industry"></i>
                        <p>
                            Company Details
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../placement/placement_view.html" class="nav-link">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>
                            Placement cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../placement/placement_view.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Placement Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../placementMember/placementMember_view.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../placement/placementAttachments_view.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../womenCell/womenCell_view.html" class="nav-link">
                        <i class="nav-icon fa fa-female"></i>
                        <p>
                            Women cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../womenCell/womenCell_view.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Women Cell Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../womenCell/womenCellMembers_details.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../womenCell/womenCellAttachments_view.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../ssip/ssip_view.html" class="nav-link">
                        <i class="nav-icon fa fa-cube"></i>
                        <p>
                            SSIP cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../ssip/ssip_view.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>SSIP Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../ssip/ssipMembers_details.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../ssip/ssipAttachments_view.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../antiRagging/antiRagging_view.html" class="nav-link">
                        <i class="nav-icon fa fa-male"></i>
                        <p>
                            Anti Ragging cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../antiRagging/antiRagging_view.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Anti Ragging Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../antiRagging/antiRaggingMembers_details.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../antiRagging/antiRaggingAttachments_view.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="../greivanceCell/greivanceCell_view.html" class="nav-link">
                        <i class="nav-icon fas fa-user-edit"></i>
                        <p>
                            Grievance cell
                            <i class="nav-icon right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../greivanceCell/greivanceCell_view.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Grievance Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../greivanceCell/grievanceCellMemebers_details.html" class="nav-link">
                                <i class="nav-icon far fa-circle"></i>
                                <p>Members Details</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../greivanceCell/grievanceAttachments_view.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Files Attachments</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="../news/news_view.html" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            News
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../images/images_view.html" class="nav-link">
                        <i class="nav-icon fas fa-camera-retro"></i>
                        <p>
                            Images
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../gallery/gallery_view.html" class="nav-link">
                        <i class="nav-icon fas fa-images"></i>
                        <p>
                            College Gallery
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../achievements/achievements_view.html" class="nav-link">
                        <i class="nav-icon fa fa-trophy"></i>
                        <p>
                            Achievements
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../contactInfo/contactInfo_view.html" class="nav-link">
                        <i class="nav-icon fas fa-phone"></i>
                        <p>
                            Contact info
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
