@model List<BACKEND_HTML_DOT_NET.Models.GalleryVM>

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GalleryAdd"; 
}

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("GalleryView","CollegeGallery")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Imges to Gallery</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="gallery" asp-action="GalleryAdd" asp-controller="CollegeGallery" method="post" >
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="fileName">Gallery Tag Id</label>
                                    <input type="number" class="form-control" id="tagid" name="GalleryTagId" placeholder="Enter id">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Name</label>
                                    <input type="text" class="form-control" id="name" name="Name" placeholder="Enter name">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Extention</label>
                                    <input type="text" class="form-control" id="extention" name="Extension" placeholder="Enter extention">
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">CHOOSE IMAGE</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" name="file" class="custom-file-input"
                                                       id="InputFile">
                                                <label class="custom-file-label" for="exampleInputFile">
                                                    Choose
                                                    file
                                                </label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" >Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="button" id="btnGallery" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-default col-md-2">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</div>

@section script{

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#gallery').validate({
          rules: {
                    "GalleryTagId": {
                    required: true
                },
                    "Name": {
                    required: true
                },
                    "Extension": {
                    required: true
                },
                "InputFile": {
                    required: true
                }
          },
          messages: {
                    "GalleryTagId": {
                    required: "this felid is required"
                },
                    "Name": {
                    required: "this felid is required"
                },
                    "Extension": {
                    required: "this felid is required"
                },
              "InputFile": {
                  required: "this felid is required"
              }
          }
         

        });

            $('#btnGallery').click(function (e) {
                alert("enterted");
        //prevent Default functionality
        e.preventDefault();


        if($('#gallery').valid()){

                    var data = new FormData($('#gallery')[0]);
            
             $.ajax({
                    url: '@Url.Action("GalleryAdd","CollegeGallery")',
                    type: 'post',
                    processData: false,
                    contentType: false,
                    cache: false,
                    data: data,
                    success: function(data) {
                        console.log(data);
                        alert(data);
                    }
            });
        }

        

    });


    });
</script>
}