@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GalleryAdd"; }

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("GalleryView","CollegeGallery")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Imges to Gallery</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" id="gallery">
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="fileName">Gallery Tag Id</label>
                                    <input type="number" class="form-control" id="tagid" name="tagid" placeholder="Enter id">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                                </div>

                                <div class="form-group">
                                    <label for="fileName">Extention</label>
                                    <input type="text" class="form-control" id="extention" name="extention" placeholder="Enter extention">
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">CHOOSE IMAGE</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                       id="InputFile">
                                                <label class="custom-file-label" for="exampleInputFile">
                                                    Choose
                                                    file
                                                </label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="button" id="btnGallery" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6">
                                    <button type="clear" class="btn btn-default col-md-2">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </section>
</div>

@section script{

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#gallery').validate({
          rules: {
                "tagid": {
                    required: true
                },
                "name": {
                    required: true
                },
                "extention": {
                    required: true
                },
                "InputFile": {
                    required: true
                }
          },
          messages: {
                "tagid": {
                    required: "this felid is required"
                },
                "name": {
                    required: "this felid is required"
                },
                "extention": {
                    required: "this felid is required"
                },
              "InputFile": {
                  required: "this felid is required"
              }
          }
         

        });

        $('#btnGallery').click(function(e) {

        //prevent Default functionality
        e.preventDefault();
        //alert( "firee!" );

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        if($('#gallery').valid()){
        $.ajax({
                url: '@Url.Action("NewsAdd","News")',
                type: 'post',
                dataType: 'application/json',
                data: $("#myform").serialize(),
                success: function(data) {

                }
        });
        }

    });


    });
</script>
}