@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NewsAdd";
}

<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("NewsView","News")">
                    <ol class="breadcrumb float-sm-right">

                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add New News</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="newsaddform" asp-action="NewsAdd" asp-controller="News" method="post" role="form">
                        <div class="card-body">
                            <div class="row">


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputText">ENTER TITLE OF NEWS</label>
                                        <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="ENTER TITLE.. ">
                                    </div>
                                </div>
                               <div class="col-md-6">
                                   <label for="description">ENTER DESCRIPTION OF NEWS</label>
                                   <textarea type="text" name="description" class="form-control" id="description" rows="4" placeholder="Write content"></textarea>
                               </div>


                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group col-12">
                                <div class="col-sm-6"><button type="submit" id="sub" class="btn btn-primary float-right col-md-2">Submit</button></div>
                                <div class="col-sm-6"><button type="reset" class="btn btn-default col-md-2">Clear</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>

@section script{

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#newsaddform').validate({
          rules: {
            "title": {
                 required: true                
             },
             "description": {
                 required: true
             }

          },
          messages: {
            "title": {
                 required: "this field is required"
             },
             "description": {
                 required: "this field is required"
             }
          }
         

        });

        $('#newsaddform').submit(function(e) {

        //prevent Default functionality
        e.preventDefault();
        //alert( "firee!" );

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        if($('#newsaddform').valid()){

        var dataForm = new FormData($('#newsaddform')[0]);
        

        $.ajax({
                url: 'https://localhost:44374/api/AddFacultyDetail',
                type: 'post',
                enctype: 'multipart/form-data',
                dataType: 'application/json',
                processData: false,
                contentType: false,
                data: dataForm,
                success: function(data) {
                    console.log(data);
                }
        });
        }

    });


    });

</script>

}