@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "NewsAdd";
}

<div class="content-wrapper">
	<!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
	<section class="content" style="margin-top:20px;">
		<div class="row">
			<div class="col-md-12">
				<a href="@Url.Action("NewsView","News")">
					<ol class="breadcrumb float-sm-right">

						<li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i></li>
						<li style="margin-left: px;">Back to Details</li>
					</ol>
				</a>
			</div>
			<div class="col-md-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Add New News</h3>
					</div>
					<!-- /.card-header -->
					<!-- form start -->
					<form id="newsaddform" role="form">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="exampleInputEmail1">ENTER TITLE OF NEWS</label>
										<input type="email" name="title" class="form-control" id="exampleInputEmail1" placeholder="Enter name.. ">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="exampleInputEmail1">ENTER LINK OF NEWS</label>
										<input type="email" name="link" class="form-control" id="exampleInputEmail1" placeholder="Enter name.. ">
									</div>
								</div>


								<div class="col-sm-6">
									<div class="form-group">
										<label for="exampleInputFile">CHOOSE IMAGE FOR NEWS</label>
										<div class="input-group">
											<div class="custom-file">
												<input type="file" class="custom-file-input" id="exampleInputFile">
												<label class="custom-file-label" for="exampleInputFile">Choose file</label>
											</div>
											<div class="input-group-append">
												<span class="input-group-text" id="">Upload</span>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="card-footer">
							<div class="input-group col-12">
								<div class="col-sm-6"><button type="submit" class="btn btn-primary float-right col-md-2">Submit</button></div>
								<div class="col-sm-6"><button type="reset" class="btn btn-default col-md-2">Clear</button></div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /.card-body -->
		</div>
	</section>
</div>

@section script{
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">


	$(document).ready(function() {
		//console.log( "ready!" );
		
		$('#newsaddform').validate({
		  rules: {
			"title": {
				 required: true,
				 minlength: 5,
				 digits: true
			 }
		  },
		  messages: {
			"title": {
				 required: "this field is required",
				 minlength: "this field must contain at least {0} characters",
				 digits: "this field can only contain numbers"
			 }
		  }

		});

		$('#newsaddform').submit(function(e) {

        //prevent Default functionality
        e.preventDefault();

        //get the action-url of the form
        var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        $.ajax({
                url: actionurl,
                type: 'post',
                dataType: 'application/json',
                data: $("#myform").serialize(),
                success: function(data) {
                    ... do something with the data...
                }
        });

    });
		
	
	});

</script>

}