@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SSIPView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View SSIP Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6" style="margin-top:10px;">
                    <a href="@Url.Action("SSIPAdd","SSIPCell")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Click to Edit Details</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <h3>Student Start up & Innovation Details</h3>
                            </div>
                            <div class="card-body">
                                <div>
                                    <p>
                                        Innovation is the key for every economy to grow, and innovation takes
                                        place at every layer of the society. The government of India has
                                        declared 2010-20 as the decade of innovation to unleash the creative
                                        potential of every Indian. The Government of India has also set up the
                                        "Atal Innovation Mission" and "Startup India, Stand-up India" mission to
                                        spearhead innovation movement across the nation. The youth of the
                                        country and the university system play a crucial role at every step to
                                        shape the innovation ecosystem. To build startup and innovation culture
                                        across universities is the key goal of Startup India action plan.
                                    </p>
                                    <p>
                                        In Gujarat, a large number of thesis and innovative ideas emerges every
                                        year from nearly 1.4 million students from 60+ universities and
                                        institutes of higher education in Gujarat. This source of new
                                        innovations and startups catering to new products and services form the
                                        base for the need of ecosystem of innovation policy in the state.
                                    </p>
                                    <p>
                                        The education department of the state government is aiming to leverage
                                        these avenues in a systematic manner by building student-centric
                                        innovation and preincubation processes.Harnessing the creative potential
                                        of young students across universities and educational institutions is
                                        also necessary to generate an entrepreneurial model of inclusive
                                        development.
                                    </p>
                                    <p>
                                        Gujarat has witnessed huge industrial growth in last decade and hence it
                                        is imperative need to have arobust system to support student innovation.
                                        To facilitate and pre-incubate innovative ideas to go through a stage of
                                        proof of concept, prototype, product, testing & trial, redesign and
                                        development of utility, the student startup and innovation policy of the
                                        state would help in building innovation and pre-incubation processes of
                                        the state higher education.
                                    </p>
                                </div>

                            </div>

                            <strong>
                                <div class="form-group">
                                    <text>Dr. Hitesh Panchal</text></br>
                                    <text>SSIP Coordinator</text></br>
                                    <text>Government Engineering College, Patan</text></br>
                                </div>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ur contents here-->
</div>
    