@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PlacementAttachmentsView"; }

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">View Placement Cell Attachments Details</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <a href="@Url.Action("PlacementAttachmentsAdd","PlacementCell")">
                        <ol class="breadcrumb float-sm-right">
                            <li><i class="nav-icon fas fa-plus-circle"></i></li>
                            <li>Add New Attachment</li>
                        </ol>
                    </a>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Placement Cell Lists</h3>
                        </div>
                        <!-- /.card-header -->
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Attachment File</th>
                                    @*<th>View</th>*@
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Placement Circular</td>
                                    <td>PDF</td>
                                    <td><a href=""><i class="nav-icon fas fa-eye"></i></a></td>
                                    <td>
                                        <a href="@Url.Action("PlacementAttachmentsAdd","PlacementCell")">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Placement Circular</td>
                                    <td>PDF</td>
                                    <td><a href=""><i class="nav-icon fas fa-eye"></i></a></td>
                                    <td>
                                        <a href="@Url.Action("PlacementAttachmentsAdd","PlacementCell")">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Placement Circular</td>
                                    <td>PDF</td>
                                    <td><a href=""><i class="nav-icon fas fa-eye"></i></a></td>
                                    <td>
                                        <a href="@Url.Action("PlacementAttachmentsAdd","PlacementCell")">
                                            <i class="nav-icon fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td><a href=""><i class="nav-icon fas fa-trash"></i></a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>