@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PlacementDetails"; }

<div class="content-wrapper">
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb float-sm-right">
                    <li style="margin-left: 00px;">
                        <a href="@Url.Action("DepartmentView","Department")">
                            <i class="nav-icon fas fa-minus-circle"></i>
                        </a>
                    </li>
                    <li style="margin-left: px;">
                        <a href="@Url.Action("PlacementView","PlacementCell")">
                            Back to
                            Details
                        </a>
                    </li>
                </ol>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Placement Details</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="col-6 border-right">
                                    <div class="raw">
                                        <label class="col-5 h5 text-muted">
                                            Company Name
                                        </label>
                                        <span class="col-7 h5">
                                            L & T PVT LTD
                                        </span>
                                    </div>
                                    <div class="raw">
                                        <label class="col-5 h5 text-muted">
                                            Department
                                        </label>
                                        <span class="col-7 h5">
                                            Civil
                                        </span>
                                    </div>
                                    <div class="raw">
                                        <label class="col-5 h5 text-muted">
                                            Students Taken
                                        </label>
                                        <span class="col-7 h5">
                                            15
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6 border-left">
                                    <div class="raw">
                                        <label class="col-5 h5 text-muted">
                                            Date Of Campus
                                        </label>
                                        <span class="col-7 h5">
                                            16/07/2019
                                        </span>
                                    </div>
                                    <div class="raw">
                                        <label class="col-5 h5 text-muted">
                                            Lowest Package
                                        </label>
                                        <span class="col-7 h5">
                                            1,00,000₹
                                        </span>
                                    </div>
                                    <div class="raw">
                                        <label class="col-5 h5 text-muted">
                                            Highest Package
                                        </label>
                                        <span class="col-7 h5">
                                            1,50,000₹
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <label class="card-title text-muted">
                                            List Of Taken Students :
                                        </label>
                                    </div>
                                    <div class="card-body">
                                        <table id="example2" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Enrollment No</th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                                <tr>
                                                    <td>180223107003</td>
                                                    <td>Darji Dhaval C.</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Enrollment No</th>
                                                    <th>Name</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>
        </div>
    </section>
</div>