@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ImagesAdd"; }
<div class="content-wrapper">
    <!-- <h3 style="margin-left: 15px;">DEPARTMENT</h3> -->
    <section class="content" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-12">
                <a href="@Url.Action("ImagesView","Images")">
                    <ol class="breadcrumb float-sm-right">
                        <li style="margin-left: 00px;"><i class="nav-icon fas fa-minus-circle"></i> </li>
                        <li style="margin-left: px;">Back to Details</li>
                    </ol>
                </a>
            </div>
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Images</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="IamgeAdd" asp-action="ImagesAdd" asp-controller="Images" method="post" role="form">
                        <div class="card-body">
                            <div class="row">


                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputText1">ENTER TITLE OF IMAGE</label>
                                        <input type="text" name="Title" class="form-control" id="IamgeTitle" placeholder="ENTER TITLE.. ">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputText1">ENTER TITLE OF EXTENSION</label>
                                        <input type="text" name="Extension" class="form-control" id="IamgeExtension" placeholder="ENTER EXTENSION.. ">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="exampleInputText1">ENTER TAG ID</label>
                                        <input type="text" name="TagId" class="form-control" id="IamgeTagId" placeholder="ENTER TAG ID... ">
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">CHOOSE IMAGE</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                       id="InputFile">
                                                <label class="custom-file-label" for="exampleInputFile">
                                                    Choose
                                                    file
                                                </label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card-footer">
                                <div class="input-group col-12">
                                    <div class="col-sm-6">
                                        <button type="submit"
                                                class="btn btn-primary float-right col-md-2">
                                            Submit
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="clear"
                                                class="btn btn-default col-md-2">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</div>

@section script{

<script type="text/javascript">


    $(document).ready(function() {
        //console.log( "ready!" );

        $('#IamgeAdd').validate({
          rules: {
            "Title": {
                 required: true                
             },
             "Extension": {
                 required: true
             },
             "TagId":{
                 required: true,
                 number: true
             },
                "InputFile": {
                    required: true
                }

          },
          messages: {
            "Title": {
                 required: "this field is required"
             },
             "Extension": {
                 required: "this field is required"
             },
             "TagId" :{
                 required: "Enter a valid Id"
             },
              "InputFile": {
                  required: true
              }

          }
         

        });

        $('#IamgeAdd').submit(function(e) {

        //prevent Default functionality
        e.preventDefault();
        alert( "firee!" );

        //get the action-url of the form
        //var actionurl = e.currentTarget.action;

        //do your own request an handle the results
        if($('#ImageAdd').valid()){
        $.ajax({
                url: '@Url.Action("ImagesAdd","Images")',
                type: 'post',
                dataType: 'application/json',
                data: $("#myform").serialize(),
                success: function(data) {

                }
        });
        }

    });


    });

</script>

}